hr {
    margin-right: 50%;
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/531/418/original/modern-dark-blue-wallpaper-template-design-gradient-color-of-dark-blue-background-used-in-abstract-bg-and-wallpaper-template-vector.jpg");
}

h1,
th,
td {
    color: white;
    font-size: 15px;
}

h1 {
    padding-left: 4%;
    color: #24e4f2;
    padding-top: 2%;
    font-size: 40px;
}

table {
    margin-top: 4%;
    margin-left: 4%;
}

th,
td {
    border: 1px solid white;
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 1%;
    padding-bottom: 1%;
    font-size: 140%;
}

nav {
    padding-top: 2%;
}

a {
    color: white;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    text-decoration: none;

}


nav {
    padding-left: 60%;
}